<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header section -->
<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 header-top-left">
                    <div class="top-info">
                        <i class="fa fa-phone"></i> (+56) 000 000 0000
                    </div>
                    <div class="top-info">
                        <i class="fa fa-envelope"></i> contacto@clasipro.cl
                    </div>
                </div>
                <div class="col-lg-6 text-lg-right header-top-right">
                    <div class="top-social">
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-instagram"></i></a>
                        <a href=""><i class="fa fa-pinterest"></i></a>
                        <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="site-navbar">
                    <a class="site-logo" routerLink="/"><img src="assets/img/Clasipro-logo.png" alt="clasipro"></a>
                    <div class="nav-switch">
                        <i class="fa fa-bars"></i>
                    </div>
                    <ul class="main-menu">
                        <li><a [routerLink]="['/']">INICIO</a></li>
                        <li><a [routerLink]="['propiedades']">PROPIEDADES</a></li>
                        <li><a [routerLink]="['quienes-somos']">¿QUIÉNES SOMOS?</a></li>
                        <li><a [routerLink]="['contacto']">CONTACTO</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header section end -->