<!-- Page top section -->
<section class="page-top-section set-bg" style="background-image:url(assets/img/page-top-bg.jpg);">
    <div class="container text-white">
        <h2>Contacto</h2>
    </div>
</section>
<!--  Page top end -->

<!-- Breadcrumb -->
<div class="site-breadcrumb">
    <div class="container">
        <a href="index.html"><i class="fa fa-home"></i>Incio</a>
        <span><i class="fa fa-angle-right"></i>Contacto</span>
    </div>
</div>

<!-- page -->
<section class="page-section blog-page">
    <div class="container">
        <div id="map-canvas"></div>
        <div class="contact-info-warp">
            <p><i class="fa fa-map-marker"></i>AV. Isidora G., Las Condes</p>
            <p><i class="fa fa-envelope"></i>contacto@clasipro.cl</p>
            <p><i class="fa fa-phone"></i>(+56) 000 000 0000</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <img src="assets/img/contact.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <div class="contact-right">
                    <div class="section-title">
                        <h3>Contáctanos</h3>
                    </div>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="Nombre">
                            </div>
                            <div class="col-md-6">
                                <input type="text" placeholder="Email">
                            </div>
                            <div class="col-md-12">
                                <textarea placeholder="Mensaje"></textarea>
                                <button class="site-btn">ENVIAR</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- page end -->