<!-- Hero section -->
<section class="hero-section set-bg" style="background-image:url(assets/img/bg.jpg);">
    <div class="container hero-text text-white">
        <h2>Encuentra tu lugar favorito aquí</h2>
        <a href="#" class="site-btn">Más Detalles</a>
    </div>
</section>
<!-- Hero section end -->


<!-- Filter form section -->
<div class="filter-search">
    <div class="container">
        <form class="filter-form">
            <input type="text" placeholder="Ingresa una ciudad o calle con numero">
            <select>
					<option value="City">Ciudad</option>
				</select>
            <select>
					<option value="City">Comuna</option>
				</select>
            <button class="site-btn fs-submit">Buscar</button>
        </form>
    </div>
</div>
<!-- Filter form section end -->



<!-- Properties section -->
<section class="properties-section spad">
    <div class="container">
        <div class="section-title text-center">
            <h3>PROPIEDADES DESTACADAS</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a href="detalle-propiedad.html">
                    <div class="propertie-item set-bg" style="background-image:url(assets/img/Propiedades/dest-deptolascondes.jpg);">
                        <div class="sale-notic">EN VENTA</div>
                        <div class="propertie-info text-white">
                            <div class="info-warp">
                                <h5>Lo Barnechea</h5>
                                <p><i class="fa fa-map-marker"></i> Camino del Estero - Instituo Hebreo</p>
                            </div>
                            <div class="price">$ 537.532.320</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="detalle-propiedad.html">
                    <div class="propertie-item set-bg" style="background-image:url(assets/img/Propiedades/dest-lascondes.jpg);">
                        <div class="sale-notic">EN VENTA</div>
                        <div class="propertie-info text-white">
                            <div class="info-warp">
                                <h5>Las Condes</h5>
                                <p><i class="fa fa-map-marker"></i> Quebrada Honda / Las Condesas</p>
                            </div>
                            <div class="price">$ 813.189.920</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="detalle-propiedad.html">
                    <div class="propertie-item set-bg" style="background-image:url(assets/img/Propiedades/dest-lomas.jpg);">
                        <div class="sale-notic">EN VENTA</div>
                        <div class="propertie-info text-white">
                            <div class="info-warp">
                                <h5>La Dehesa</h5>
                                <p><i class="fa fa-map-marker"></i>Lomas de La Dehesa</p>
                            </div>
                            <div class="price">$1.229.000.000.-</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="detalle-propiedad.html">
                    <div class="propertie-item set-bg" style="background-image:url(assets/img/Propiedades/dest-ladehesa.jpg);">
                        <div class="sale-notic">EN VENTA</div>
                        <div class="propertie-info text-white">
                            <div class="info-warp">
                                <h5>La Dehesa</h5>
                                <p><i class="fa fa-map-marker"></i> Av.La Dehesa</p>
                            </div>
                            <div class="price">$1.047.500.020</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Properties section end -->


<!-- Services section -->
<section class="services-section spad set-bg" style="background-image:url(assets/img/service-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="assets/img/service.jpg" alt="">
            </div>
            <div class="col-lg-5 offset-lg-1 pl-lg-0">
                <div class="section-title text-white">
                    <h3>OTROS SERVICIOS</h3>
                </div>
                <div class="services">
                    <div class="service-item">
                        <i class="fa fa-comments"></i>
                        <div class="service-text">
                            <h5>CONSULTORIA</h5>
                            <p>Te ayudamos a gestionar la venta o arriendo de tu casa.</p>
                        </div>
                    </div>
                    <div class="service-item">
                        <i class="fa fa-home"></i>
                        <div class="service-text">
                            <h5>
                                GESTIÓN DE PROPIEDADES</h5>
                            <p>Gestionamos la venta de tus propiedades y arriendos.</p>
                        </div>
                    </div>
                    <div class="service-item">
                        <i class="fa fa-briefcase"></i>
                        <div class="service-text">
                            <h5>VENTA Y ARRIENDO</h5>
                            <p>Contamos con una amplia cartera de clientes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services section end -->


<!-- feature section -->
<section class="feature-section spad">
    <div class="container">
        <div class="section-title text-center">
            <h3>PROPIEDADES RECIENTES</h3>
        </div>
        <a href="detalle-propiedad.html">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <!-- feature -->
                    <a href="detalle-propiedad.html">
                        <div class="feature-item">
                            <div class="feature-pic set-bg" style="background-image:url(assets/img/Propiedades/fbilbao.jpg);">
                                <div class="sale-notic">EN VENTA</div>
                            </div>
                            <div class="feature-text">
                                <div class="text-center feature-title">
                                    <h5>Departamento Providencia</h5>
                                    <p><i class="fa fa-map-marker"></i> Francisco Bilbao</p>
                                </div>
                                <div class="room-info-warp">
                                    <div class="room-info">
                                        <div class="rf-left">
                                            <p><i class="fa fa-th-large"></i>90 m² total</p>
                                            <p><i class="fa fa-bed"></i> 3 Dormitorios</p>
                                        </div>
                                        <div class="rf-right">
                                            <p><i class="fa fa-car"></i> 2 Estacionamientos</p>
                                            <p><i class="fa fa-bath"></i> 2 Baños</p>
                                        </div>
                                    </div>
                                    <div class="room-info">
                                        <div class="rf-left">
                                            <p><i class="fa fa-user"></i> Adrian Carcamo</p>
                                        </div>
                                        <div class="rf-right">
                                            <p><i class="fa fa-clock-o"></i> Hace 3 días</p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="room-price">$176.145.206</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- feature -->
                    <a href="detalle-propiedad.html">
                        <div class="feature-item">
                            <div class="feature-pic set-bg" style="background-image:url(assets/img/Propiedades/lareina-casa.jpg);">
                                <div class="sale-notic">EN VENTA</div>
                            </div>
                            <div class="feature-text">
                                <div class="text-center feature-title">
                                    <h5>Casa La Reina</h5>
                                    <p><i class="fa fa-map-marker"></i> Metro Fernando Castillo </p>
                                </div>
                                <div class="room-info-warp">
                                    <div class="room-info">
                                        <div class="rf-left">
                                            <p><i class="fa fa-th-large"></i> 390 m² terreno</p>
                                            <p><i class="fa fa-bed"></i> 4 Dormitorios</p>
                                        </div>
                                        <div class="rf-right">
                                            <p><i class="fa fa-car"></i> 2 Estacionamientos</p>
                                            <p><i class="fa fa-bath"></i> 3 Baños</p>
                                        </div>
                                    </div>
                                    <div class="room-info">
                                        <div class="rf-left">
                                            <p><i class="fa fa-user"></i> Adrian Carcamo</p>
                                        </div>
                                        <div class="rf-right">
                                            <p><i class="fa fa-clock-o"></i>Hace 1 día</p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="room-price">$4,500,000</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- feature -->
                    <a href="detalle-propiedad.html">
                        <div class="feature-item">
                            <div class="feature-pic set-bg" style="background-image:url(assets/img/Propiedades/casa-lascondes.jpg);">
                                <div class="sale-notic">EN VENTA</div>
                            </div>
                            <div class="feature-text">
                                <div class="text-center feature-title">
                                    <h5>Casa Las Condes</h5>
                                    <p><i class="fa fa-map-marker"></i> Angostura Inglesa</p>
                                </div>
                                <div class="room-info-warp">
                                    <div class="room-info">
                                        <div class="rf-left">
                                            <p><i class="fa fa-th-large"></i> 275 m² terreno</p>
                                            <p><i class="fa fa-bed"></i> 4 Dormitorios</p>
                                        </div>
                                        <div class="rf-right">
                                            <p><i class="fa fa-car"></i> 2 Estacionamientos</p>
                                            <p><i class="fa fa-bath"></i> 3 Baños</p>
                                        </div>
                                    </div>
                                    <div class="room-info">
                                        <div class="rf-left">
                                            <p><i class="fa fa-user"></i> Adrian Carcamo</p>
                                        </div>
                                        <div class="rf-right">
                                            <p><i class="fa fa-clock-o"></i> Hace 4 días</p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="room-price">$ 270.000.000</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- feature -->
                    <a href="detalle-propiedad.html">
                        <div class="feature-item">
                            <div class="feature-pic set-bg" style="background-image:url(assets/img/Propiedades/casa-puntaguilas.jpg)">
                                <div class="sale-notic">EN VENTA</div>
                            </div>
                            <div class="feature-text">
                                <div class="text-center feature-title">
                                    <h5>Casa Golf de Manquehue</h5>
                                    <p><i class="fa fa-map-marker"></i> Punta de aguilas</p>
                                </div>
                                <div class="room-info-warp">
                                    <div class="room-info">
                                        <div class="rf-left">
                                            <p><i class="fa fa-th-large"></i> 816 m² terreno</p>
                                            <p><i class="fa fa-bed"></i> 5 Dormitorios</p>
                                        </div>
                                        <div class="rf-right">
                                            <p><i class="fa fa-car"></i> 4 Estacionamientos</p>
                                            <p><i class="fa fa-bath"></i> 4 Baños</p>
                                        </div>
                                    </div>
                                    <div class="room-info">
                                        <div class="rf-left">
                                            <p><i class="fa fa-user"></i> Adrian Carcamo </p>
                                        </div>
                                        <div class="rf-right">
                                            <p><i class="fa fa-clock-o"></i> Hace 4 días</p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="room-price">$ 675.361.120</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- feature -->
                    <a href="detalle-propiedad.html">
                        <div class="feature-item">
                            <div class="feature-pic set-bg" style="background-image:url(assets/img/Propiedades/casa-nunoa.jpg);">
                                <div class="sale-notic">EN VENTA</div>
                            </div>
                            <div class="feature-text">
                                <div class="text-center feature-title">
                                    <h5>Casa Nuñoa</h5>
                                    <p><i class="fa fa-map-marker"></i> Marchant Pereira / Simon Bolivar</p>
                                </div>
                                <div class="room-info-warp">
                                    <div class="room-info">
                                        <div class="rf-left">
                                            <p><i class="fa fa-th-large"></i>1.475 m² terreno</p>
                                            <p><i class="fa fa-bed"></i> 4 Domitorios</p>
                                        </div>
                                        <div class="rf-right">
                                            <p><i class="fa fa-car"></i> 2 Estacionamientos</p>
                                            <p><i class="fa fa-bath"></i> 3 Baños</p>
                                        </div>
                                    </div>
                                    <div class="room-info">
                                        <div class="rf-left">
                                            <p><i class="fa fa-user"></i> Adrian Carcamo</p>
                                        </div>
                                        <div class="rf-right">
                                            <p><i class="fa fa-clock-o"></i> Hace 5 días</p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="room-price">$ 671.226.256</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- feature -->
                    <a href="detalle-propiedad.html">
                        <div class="feature-item">
                            <div class="feature-pic set-bg" style="background-image:url(assets/img/Propiedades/casa-lareina.jpg);">
                                <div class="sale-notic">EN VENTA</div>
                            </div>
                            <div class="feature-text">
                                <div class="text-center feature-title">
                                    <h5>Casa La Reina</h5>
                                    <p><i class="fa fa-map-marker"></i> Valenzuela Puelma</p>
                                </div>
                                <div class="room-info-warp">
                                    <div class="room-info">
                                        <div class="rf-left">
                                            <p><i class="fa fa-th-large"></i> 480 m² terreno</p>
                                            <p><i class="fa fa-bed"></i> 3 Dormitorios</p>
                                        </div>
                                        <div class="rf-right">
                                            <p><i class="fa fa-car"></i> 1 Estacionamientos</p>
                                            <p><i class="fa fa-bath"></i> 3 Baños</p>
                                        </div>
                                    </div>
                                    <div class="room-info">
                                        <div class="rf-left">
                                            <p><i class="fa fa-user"></i> Adrian Carcamo </p>
                                        </div>
                                        <div class="rf-right">
                                            <p><i class="fa fa-clock-o"></i> Hace 2 días</p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="room-price">$ 347.328.576</a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </a>
    </div>
</section>
<!-- feature section end -->
<!-- Clients section -->
<div class="clients-section">
    <div class="container">
        <div class="clients-slider owl-carousel">
            <a href="#">
                <img src="assets/img/partner/1.png" alt="">
            </a>
            <a href="#">
                <img src="assets/img/partner/2.png" alt="">
            </a>
            <a href="#">
                <img src="assets/img/partner/3.png" alt="">
            </a>
            <a href="#">
                <img src="assets/img/partner/4.png" alt="">
            </a>
            <a href="#">
                <img src="assets/img/partner/5.png" alt="">
            </a>
        </div>
    </div>
</div>
<!-- Clients section end -->