<!-- Page top section -->
<section class="page-top-section set-bg" style="background-image: url(assets/img/page-top-bg.jpg);">
    <div class="container text-white">
        <h2>¿Quiénes Somos?</h2>
    </div>
</section>
<!--  Page top end -->

<!-- Breadcrumb -->
<div class="site-breadcrumb">
    <div class="container">
        <a href="index.html"><i class="fa fa-home"></i>Inicio</a>
        <span><i class="fa fa-angle-right"></i>¿Quiénes Somos?</span>
    </div>
</div>

<!-- page -->
<section class="page-section">
    <div class="container">
        <img class="mb-5" src="assets/img/about.jpg" alt="">
        <div class="row about-text">
            <div class="col-xl-6 about-text-left">
                <h5>¿Quiénes Somos?</h5>
                <p>ClasiPRO es un CRM para corredores inmobiliarios que requieren de un sistema completo y de fácil uso que permita administrar una gran cantidad de propiedades sincronizadas con diferentes cuentas de portales inmobiliarios ya sea gratuitas
                    o de pagos. </p>
                <p>Somos un equipo comprometido con nuestros clientes aportando nuevas mejoras en cada actualización, con el fin de que nuestro sistema este a la vanguardia.</p>
            </div>
            <div class="col-xl-6 about-text-right">
                <h5>Calidad y compromiso</h5>
                <p>ClasiPRO es un completo CRM 100% online.</p>
                <ul class="about-list">
                    <li><i class="fa fa-check-circle-o"></i>Soporte Teléfonico a usuarios premium.</li>
                    <li><i class="fa fa-check-circle-o"></i>Ayuda Online via chat </li>
                    <li><i class="fa fa-check-circle-o"></i>Los mejore planes del mercado.</li>
                    <li><i class="fa fa-check-circle-o"></i>Diseño portales inmobiliarios a medida.</li>
                </ul>
            </div>
        </div>
    </div>

</section>
<!-- page end -->