<!-- Footer section -->
<footer class="footer-section set-bg" style="background-image:url(assets/img/footer-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 footer-widget">
                <img src="assets/img/Clasipro-logo.png" alt="">
                <p>Las plantillas de ClasiPRO estan pensadas para aquellos usuarios que necesiten publicitar y promocionar de manera profesional sus propiedades en venta y/o arriendo. Consulta en soporte@clasipro.cl sobre otras opciones de diseño y desarrollo.</p>
                <div class="social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 footer-widget">
                <div class="contact-widget">
                    <h5 class="fw-title">CONTACTANOS</h5>
                    <p><i class="fa fa-map-marker"></i>AV Isidora G. </p>
                    <p><i class="fa fa-phone"></i>(+56) 000 000 0000</p>
                    <p><i class="fa fa-envelope"></i>contacto@clasipro.cl</p>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 footer-widget">
                <div class="double-menu-widget">
                    <h5 class="fw-title">Lugares Destacados</h5>
                    <ul>
                        <li><a href="#">La Florida</a></li>
                        <li><a href="#">La Dehesa</a></li>
                        <li><a href="#">Providencia</a></li>
                        <li><a href="#">Las Condes</a></li>
                        <li><a href="#">La Reina</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Lo Barnechea</a></li>
                        <li><a href="#">Nuñoa</a></li>
                        <li><a href="#">Macul</a></li>
                        <li><a href="#">Santiago</a></li>
                        <li><a href="#">Maipu</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6  footer-widget">
                <div class="newslatter-widget">
                    <h5 class="fw-title">NEWSLETTER</h5>
                    <p>Suscribete y recibe notificaciones al instante de propiedades en venta o arriendo</p>
                    <form class="footer-newslatter-form">
                        <input type="text" placeholder="Tu correo electronico">
                        <button><i class="fa fa-send"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-nav">
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="propiedades.html">Propiedades</a></li>
                    <li><a href="quienesomos.html">¿Quiénes Somos?</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </div>
            <div class="copyright">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> ClasiPRO Themes
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer section end -->